body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f8f8f8;	
}

/* Global button style */
.button {
  font-family: inherit;	
  text-align: center;
  cursor: pointer;
  border: none;
  text-decoration: none;
  padding: 0.5rem 2rem;
  width:150px;
  border-radius: 6px;
  font-size: 1rem;
  min-width: 6rem;
  background-color: white;
  color: #007bff;
  border: 2px solid #007bff;
  font-weight: bold;
}

.button:hover {
  background-color: white; 
  color: #e14694;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border: 2px solid #e14694;

}
.button {
  transition-duration: 0.3s;
}
.button.disabled {
  pointer-events: none;
  background-color: #cccccc;
  opacity: 0.6;
  color: #666666;
  cursor: not-allowed;
}

/* Main section */

.main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .title h3 {
  font-size: 2.3rem;
  font-weight: 300;
  margin: 0.8rem 0;
}

.hidden {
  display: none;
}

.reveal {
  opacity: 0;
}

.reveal:hover {
  opacity: 0.2;
}

/* Upload box */
.upload-box {
  font-size: 0.8rem;
  color: #666666;
  cursor: pointer;
  width: 20rem;
  height: 15rem;
  background: #fff;
  border: 0.1rem dashed #838388;
  border-radius: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0 3rem 0;
}

.upload-box.dragover {
  background-color: grey;
  color: #e14694;
  border: 0.1rem solid rgb(0, 120, 212);
  box-shadow: inset 0 0 0 0.1rem rgb(0, 120, 212);
}

.upload-box:hover{
  border-color: #2d2d2d;
  color: rgb(0,0,0);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 0 15px 0 rgba(0, 0, 0, 0.2);
}
.upload-box {
  transition-duration: 0.4s;
}
.upload-box #image-preview {
  max-width: 18rem;
  max-height: 10rem;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 7px;
}

#image-result {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
  max-height: 20rem;
}

#image-box {
  position: relative;
  width: auto;
  float: left;
  margin-bottom: 2rem;
}

#image-display {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.19);
  max-height: 25rem;
  border-radius: 7px;
}

#image-display.loading {
  filter: brightness(50%);
}

#pred-result {
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  margin: 0 auto;
}

/* Animation */
#loader {
  box-sizing: border-box;
  stroke: #ff00cb;
  stroke-width: 4px;
  transform-origin: 50%;
  animation: line 2s cubic-bezier(.45,.05,.55,.95) infinite, rotate 2s cubic-bezier(.18,.89,.32,1.28) infinite
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(750deg);
  }
}
@keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    transform: rotate(0);
  }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    transform: rotate(90deg);
  }
}
